body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}

header {
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content:center;
  padding:.5em 1em;
}
.headerOne{
  width:100%;
}
.toDoCount{
margin-top: 20px;
height: 10vh;
width: 80%;
justify-self: center;
}

.todo-details {
    display:flex;
    flex-direction:column;

    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }
    .complete-true {
        background: white;

    }
    .complete-false {
      background: white;

  }

.formGroup{
  margin-right: 10vw;
  margin-left: 10vw;
}

.listGroup{
  width: 100%;
  margin-right: 10vw
}

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        .card {
            height: 15vh;
            display:flex;
            width:30vw;
            align-content:flex-start;
            justify-content:flex-start;
            flex-direction:row;
            flex-wrap:wrap;
            font-size: .75em;
            margin: .75em .5em;

            h3{
              font-size: 15px;
              display:flex;
              justify-content:flex-end;
              color: grey;
              line-height:15px;
              margin-left:20px;
              margin-top: 5px;
              width:70%;
            }

            p{
              height: 20px;
              margin: 2px;
            }

            .task{
              margin-left: 50px;
              width:80%;
              font-size: 20px;
            }


            .false{
              background-color: green;
              border-radius:5px;
              color: white;
            }

            .true{
              background-color:red;
              border-radius:5px;
              color: white;
            }

            span {
                background:white;
                cursor:pointer;
                margin-left: 100px;

            }
             span, input {
                 display:inline-block;
                 padding: .2em .25em;
             }

             .difficulty{
               margin-left: 175px;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}
