body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}

header {
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content:center;
  padding:.5em 1em;
}
.headerOne{
  width:100%;
}
.toDoCount{
margin-top: 20px;
height: 10vh;
width: 80%;
justify-self: center;
}

.todo-details {
    display:flex;
    flex-direction:column;

    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }
    .complete-true {
        background: seagreen;
        text-decoration:line-through;
        &:hover {
           background: pink;
      }
    }
    .complete-false {
      background: pink;
      &:hover {
         background: seagreen;
    }
  }

.formGroup{
  margin-right: 10vw;
  margin-left: 10vw;
}

.listGroup{
  width: 100%;
  margin-right: 10vw
}

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

            span {
                background: #e0e0e0;
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 300px;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}
